@model exam.Models.Flights

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reserve flight</h1>

<h3>Decided to reserve the flight? Press the button below and continue to checkout</h3>
<div>
    <h4>Flights</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>
    </dl>
    
    <form asp-action="Reserve">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Reserve" class="btn-light" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
